*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #0D1117;
    color: white;
}


.container{
    padding-left: 90px;
    padding-right: 90px;
    padding-top: 10px;
    display: flex;
    justify-content: space-between;
}

.subContainer{
    display: flex;
    gap: 20px;
    align-items: center;
}

.topLink{
    color: #9ba3b4;
    cursor: pointer;
    padding-left: 10px;
}

.banner{
    display: flex;
    justify-content: center;
    padding-top: 10px;
    margin-top: 20px;
}

.bigText{
    display: flex;
    justify-content: center;
    width: 620px;
    margin: 0 auto;
    text-align: center;
    margin-top: 30px;
}

.downloadbtns{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 10px;
}

a{
    color: #4daafc;
}

h1{
    font-size: 75px;
    margin: 0;
    padding: 0;
}

.imgContainer{
    display: flex;
    justify-content: center;
    position: relative;
    margin-top: 30px;
}

.imgContainer video {
    position: absolute;
    top: 65px;
    left: 165px;
    width: 77%;
    height: 85%;
    object-fit: cover;
    border-radius: 24px;
}

.bg-image{
    border-radius: 24px;
}


.smallText{
    display: flex;
    justify-content: center;
    width: 600px;
    margin: 0 auto;
    text-align: center;
    font-size: small;
    cursor: pointer;
    margin-top: 10px;

}

.winbutton{
    padding: 10px;
    color: #c3d0e5;
    font-size: larger;
    background-color: #25292E;
    border-radius: 4px;
    border: 0.1px solid #c3d0e5;
    cursor: pointer;
}

.macbutton{
    padding: 10px;
    background-color: #0078d4;
    color: white;
    width: 220px;
    font-size: larger;
    border-radius: 4px;
    border: 0.1px solid #c3d0e5;
    border: none;
    cursor: pointer;
}

.container input{
    width: 200px;
    background-color: 0D1117;
    border: 1px #9ba3b4 solid;
    border-radius: 4px;
    height: 28px;
}

.multiFileContainer{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    align-items: center;
    padding-left: 90px;
    padding-right: 90px;
}